<%-include("./partials/header.ejs")%>

    <body>
        <div class="main">
            <div class="nav-bar">
                <h1>CINEMA <span>BOOK</span> </h1>
                <p id="menu">MENU</p>
                <a href="/admin"><div class="nav-list">
                    <li><i class="fa-solid fa-house"></i></i><p>Home</p> </li>
                </div></a>
                    <a href="/admin/bookings"><div class="nav-list">
                        <li><i class="fa-solid fa-book-open-reader"></i><p>Bookings</p> </li>
                    </div></a>
                    <a href="/admin/movies"><div class="nav-list">
                        <li><i class="fa-solid fa-film"></i><p>Movies</p> </li>
                    </div></a>
                   <a href="/admin/users"> <div class="nav-list">
                        <li><i class="fa-sharp fa-solid fa-users"></i><p>Users</p> </li>
                    </div></a>
                  
               <div class="logout">
                <a href="/admin/logout"><p>Logout</p> </a>
                </div>
                   
               
               
            </div>
            <div class="home-data">
              
            </div>
        </div>
    </body>

    </html>