
.nav-bar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 75px) repeat(4, 100px);
    text-align: center;
    background-image: url('../../Assets/about-section-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    max-width: 500px;
    resize: both; /* Enables resizing */
    overflow: auto;
}
.nav-bar .nav-list{
    cursor: pointer;
}
.nav-bar #menu{
    padding-top: 10px;
    background-color: #020464;
}
.nav-bar a:hover{
    background-color: #4566d4;
    
}

.nav-bar .nav-list li{
    margin: 23px 0 23px 0;
    padding: 0px 100px;
   
    
}
.nav-bar .logout{
    height: 75px;
    margin-top: 100px;
    
}
