<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/Assets/head-icon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/home/index.css">
    <title>Cinema Booking System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
     integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="home-section" class="main-container">
        <div class="nav-section">
            <img src="../static/Assets/nav-logo.png" alt="nav-logo" width="100px" height="100px">
            <div class="logo-text">
                <h3>Cinema<span>book</span> </h3>
                <p>Embark on a cinematic oddysey</p>
                <p>with just <span>a few clicks</span> </p>
            </div>
          
            <ul>
                <li><a href="#home-section"> HOME</a></li>
                <li><a href="#cinema-section"> CINEMAS</a></li>
                <li><a href="#about-section"> ABOUT</a></li>
                <li><a href="#footer-section"> CONTACTS</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register"> REGISTER</a></li>
            </ul>
        </div>
        <div  class="home-section">
            <div class="section1">
                <p >Our cutting-edge technology for reserving movie theaters is intended to offer 
                    a efficiently and satisfying movie-going experience. Customers may quickly explore 
                    movie selections, choose their chosen seats, and make safe online payments. </p>
            </div>
            <div class="section2">
               
            </div>
        </div>
        <div class="cinema-section" id="cinema-section">
          <div class="cinema-section-title">
            <h1>List of all available <span>movies</span> </h1>
          </div>
          <div class="cinema-section-list">
            <div class="section1">
                <h1>DEMON SLAYER: TO THE SWORDSMITH VILLAGE ARC</h1>
                <a class="b1" target="_blank" href="">
                    <button style="background-image: url(../static/Assets/cinema-section-unknownbg.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;"></button></a>
                <h1>AVATAR: THE WAY OF WATER</h1>
                <a class="b2" target="_blank" href="">
                    <button style="background-image: url(../static/Assets/cinema-section-unknownbg.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;"></button></a>
                <h1>UNAVAILABLE</h1>
                <a href="javascript:void(0)" target="_blank">
                    <button style="background-image: url(../static/Assets/cinema-section-unknownbg.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;"></button></a>
                <h1>UNAVAILABLE</h1>
                <a href="javascript:void(0)" target="_blank">
                    <button style="background-image: url(../static/Assets/cinema-section-unknownbg.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;"></button></a>
                <h1>UNAVAILABLE</h1>
                <a href="javascript:void(0)" target="_blank"><button></button></a>
            </div>
            <div class="section2">
                <h1>UNAVAILABLE</h1>
                <a href="javascript:void(0)"><button></button></a>
                <h1>UNAVAILABLE</h1>
                <a href="javascript:void(0)"><button></button></a>
                <h1>UNAVAILABLE</h1>
                <a href="javascript:void(0)"><button></button></a>
                <h1>UNAVAILABLE</h1>
                <a href="javascript:void(0)"><button></button></a>
                <h1>UNAVAILABLE</h1>
                <a href="javascript:void(0)"><button></button></a>
            </div>
          </div>
        </div>
        <div id="about-section" class="about-section">
           <div class="about-container">
            <div class="title">
                <h1>About us</h1>
            </div>
            <div class="description">
                <p>The cinema booking system is an online platform that simplifies the process of
                     reserving movie tickets. Users can browse through a list of movies, choose a
                      showtime, and reserve their seats in real-time. The system offers a user-friendly 
                      interface, clear instructions, and a comprehensive seat map of the cinema. Payment
                       options include credit cards, debit cards, and e-wallets, and users receive a
                        confirmation email with their booking details. The website also offers additional 
                        features such as the ability to cancel or reschedule bookings, view upcoming movies, 
                        and purchase gift cards. Overall, the cinema booking system is a convenient and 
                        efficient way to book tickets and enjoy the latest movie releases.</p>
            </div>
           </div>
           
        </div>
        <div class="upper-footer-section">
            <img src="../static/Assets/nav-logo.png" alt="footer-logo" width="100px" height="100px">
            <div class="footer-text"><pre> Enjoy with peace of mind
 effortless movie booking
 at your fingertips.</pre></div>
                <a href="#about-section"><button>Learn More</button></a>
        </div>
        
        <div id="footer-section" class="footer-section">
            <div class="footer1">
                <ul>
                    <li class="title">Company</li>
                    <li>About</li>
                    <li>Press Center</li>
                    <li>Careers</li>
                </ul>
                <ul>
                    <li class="title">Developer</li>
                    <li>CinemaBook Corp.</li>
                </ul>
                <ul>
                    <li class="title">Resources</li>
                    <li>Contact</li>
                </ul>
                <ul>
                    <li class="title">Product Help</li>
                    <li>Support</li>
                    <li>File a Bug</li>
                </ul>
            </div>
            <div class="footer2">
                <div class="description">
                    <p style="display: inline;">Visit CinemaBook Corporation's not-for-profit parent the <span style="text-decoration:underline; cursor:pointer;"> CinemaBook Foundation</span></p>
                    <p style="display: inline; text-decoration: underline; margin-left: 110px;" >Language</p>
                     <select style="display:inline;" name="language" id="language" value="English">
                        <option value="English">English</option>
                     </select>
                     <p>Portions of this content are &copy; 2023 by individual contributor.</p>
                </div>
                <div class="menu">
                    <ul class="menus">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Website Privacy Notice</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">Community Participation Guidelines</a></li>
                    </ul>
                    <ul>
                        <li><a href="https://www.facebook.com/rmmanabat/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="https://www.facebook.com/messages/t/100081515173049/" target="_blank"><i class="fa-brands fa-facebook-messenger"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>