<%-include("./partials/header.ejs")%>

    <body>
        <div class="main">
            <div class="nav-bar">
                <h1>CINEMA <span>BOOK</span> </h1>
                <p id="menu">MENU</p>
                <a href="/profile"><div class="nav-list">
                    <li><i class="fa-sharp fa-solid fa-user"></i><p>Profile</p> </li>
                </div></a>
                    <a href="/profile/bookings"><div class="nav-list">
                        <li><i class="fa-solid fa-book-open-reader"></i><p>Bookings</p> </li>
                    </div></a>
                    
                
                  
               <div class="logout">
                <form action="/logout?_method=DELETE" method="post">
                    <button type="submit">Logout</button>
                </form>
                <a href="/home"><button>< Go Back</button></a>
              
                </div>
                   
               
               
            </div>
            <div class="home-data">
             
                <div class="profile-content">
                    <center><h1>Account Settings</h1></center>
                    <form >
                        <input type="hidden" name="ID" id="ID" value="<%=user.CustomerID%>">
                        <label for="">Username</label>
                        <input type="text" name="username" id="username" value="<%=user.CustomerName%>">
                        <label for="">Password</label>
                        <input type="password" name="password" id="password" value="<%=user.password%>">
                        <button type="submit" id="editbtn">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
<script src="../../static/js/user/profile-update.js"></script>
    </html>