.main-form .description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr  60px;
    text-align: center;
   
}

.description .top h1{
    color: rgb(6, 13, 107);
}
.description .mid {
    color: white;
    background-image: url('../../Assets/about-section-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 250px; 
    border-bottom-right-radius: 250px;
   
}
.description .mid pre{
    margin-top: 200px;
    text-shadow: rgb(250, 245, 245) 2px 1px;
    font-size: 40px;
}
.description .bottom{
    background-color: rgb(255, 255, 255);
}